html 
    head 
        title= titulo 

    body 
        div.container
            input(type="text" placeholder="Nombre del sorteo" id="nombreSorteo")
            input(type="text" placeholder="Descripcion del sorteo" id="descripcionSorteo")
            button(id="btn_add") Agregar Sorteo 
        script(src="funciones.js")